# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/build
/builds
/.next/
/out/
/docs/build

# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/reports
linting.xml
junit.xml

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.history/*

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/libpeerconnection.log
testem.log


# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# cypress
/cypress/screenshots
/cypress/videos

# compiled Helm charts
charts/ska-nextjs-skeleton-umbrella/Chart.lock

PrivateRules.mak
/src/.openapi-generator/


