.container {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    padding-left:50px;
    width: 90%;
    align-items:center;
    justify-content:space-around;
    flex-direction:row;
}