.container {
    display: flex;
    margin: 10px;
    padding:0px;
    width: 90%;
    align-items:center;
    justify-content:space-between;
    flex-direction:row;
    /* background-color: red; */
}

.dropdown {
    width: 200px;
    height: 60%;
    margin: 10px;
}