* {
  margin: 0px;
  padding: 0px;
}


.lockup {
  padding: 40;
  margin-right: 60;
  line-height: 1.6;
  font-size: 18px;
  background-color: aqua;
  height: 800;
}


.grid {
  width: 100%;
  flex-direction: column;
}
.Containermui {
margin: 100;
padding: 60;
background-color:aquamarine;
align-items: flex-start;
}