
.card {
    z-index: 0;
    transform: none;
  }
  
.selected {
    z-index: 1;
    transform: scale(1.1);
    border: 1px grey solid;
    background: #556cd6!important;
}

.contentContainer{
    margin-top: 50px;
}